body{

background-color:#77181e;
color: black;
font-family: "Henny Penny", system-ui;
margin:0px;
}
header{
    font-size: 50px;
    text-align: center;
    border-bottom: #4e0308;
    /* margin: 30px;*/
    border: 10px #3b090d;
    padding: 30px;
    color:black(160,30, 30);
}

h1{
    font-size:18px;
}
p{
    font-size: 15;
}

section{
background-color: #74191f;
padding-bottom: 80px;
display: flex;
justify-content: center;

}
.chamada-texto{
margin-right: 10%;


}


